Vidar Magnusson <git@vidarmagnusson.com>
Eric Carlsson <caeric@student.chalmers.se>
Jonas Hogne <hogne@student.chalmers.it> Jonas H<C3><B6>gne <hogne@student.chalmers.se> Jonas H<C3><B6>gne <36747870+Jhogne@users.noreply.github.com> Jonas <jonas@pop-os.localdomain> Jhogne <hogne@student.chalmers.se>
Li Ronning <li.ronning@gmail.com> lir108 <38720523+lir108@users.noreply.github.com> Li <li.ronning@gmail.com>
Erik Gunnarsson <erik.gunnarsson98@gmail.com> 
Marcel Vacante <vacante@student.chalmers.se> MVacante <vacante@student.chalmers.se> MVacante <58072155+MVacante@users.noreply.github.com>
